<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>921813581612-9h4bfoh5omlo5o2p1m8ksrr4fufm8ldq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBCAajE6Hsv1IMATgXhH5bOxR8zMPh9e6I</string>
	<key>GCM_SENDER_ID</key>
	<string>921813581612</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.nn.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>neuro-nudge</string>
	<key>STORAGE_BUCKET</key>
	<string>neuro-nudge.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:921813581612:ios:8b62b043137169d1edf689</string>
	<key>DATABASE_URL</key>
	<string>https://neuro-nudge-default-rtdb.firebaseio.com</string>
</dict>
</plist>